* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins' sans-serif;
    box-sizing: border-box;

}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(image/background.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container img {
    width: 50px;
    height: 50px;

}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 3px;
    background: #02d9fa;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;

}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: chartreuse;
}

button {
    width: 200px;
    height: 80Px;
    cursor: pointer;
    padding: 0px;
    box-shadow: -7px 7px rgb(15, 7, 7);
    transform: rotate(0deg);
    color: #080808;
    border-width: 10px;
    border-color: yellow;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;

}

button:hover {
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 254, 55);
    color: #080808;

}

.shake-button {
    background-color: #f0f0f0;
}

.shake-button:hover {
    animation: shake 0.5s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(10px);
    }

    60% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

/* <!-- End Of Header Section-->
  <!-- Start Of About Section--> */
#about {
    padding: 20px 0;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.about-col-1 {
    flex-basis: 35%;
    padding: 0px 0px 0px 15px;

}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;

}

.about-col-2 {
    flex-basis: 60%;
    padding: 15px 15px 15px 15px;

}

.about-col-2-h1 {
    color: #fff;
    padding: 15px 15px 15px 150px;
    font-size: 30px;
    line-height: 25px;

}

.about-col-2 p {
    color: #888888;
    font-size: 20px;
    flex-basis: 70%;

}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    color: #fff;

}

.tab-links {
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    font-weight: bold;

}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #09f845;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab-links:hover{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #ff004f;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

#experience{
    margin: 0px 0px 0px 200px;
}
#education{
    margin: 0px 0px 0px 400px;
}
#Projects{
    margin: 0px 0px 0px 600px;
}
/*========-- End Of About Section-- */
/* -- Start Of Service Section-- */


.container-3 h1 {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 5px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.container-3 h4 {
    font-size: 20px;
    padding-bottom: 5px;
    text-align: center;
}


#service{
    padding: 30px 0;
 
}
.service-list{
    display: grid;
    margin-left: 10px;
    margin-right: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding: 0px 50px 0px 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

 
  
}
.service-list div{
    background: #606060;
    border-radius: 15px;
    font-size: 13px;
    font-weight: 300;
    padding: 30px;
    transition: background 0.5s, transform 0.5s;
    
}
.service-list div:hover{
    background:#ff004f;
    transform: translateY(-10px);
    
}
.service-list div h2{
    color:#1aff00;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}
.service-list div a{
    text-decoration: none;
    text-align: center;
    color: rgb(248, 248, 248);
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    background: #000000;
    width: 150px;
    height: 50px;
    border-radius: 15px;
}
.service-list div a:hover{
    color: #000000;
    background-color: #f0f0f0;
    font-weight: bold;
}
/* -- End Of Service Section-- */
/* ----------portfolio------------ */
#portfolio{
    padding: 10px 0;
}
